<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>EPW Forum</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.2/css/bulma.min.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>

    <nav class="nav has-shadow">
        <div class="container">
            <div class="nav-left">
                <a class="nav-item">
                    <strong>Electrical Power Forum</strong>
                </a>
                <a class="nav-item is-tab is-hidden-mobile">Áreas</a>
                <a class="nav-item is-tab is-hidden-mobile is-active">Posts</a>
                <a class="nav-item is-tab is-hidden-mobile">Usuários</a>
            </div>
            <span class="nav-toggle">
      <span></span>
            <span></span>
            <span></span>
            </span>
            <div class="nav-right nav-menu">
                <a class="nav-item is-tab is-hidden-tablet is-active">Home</a>
                <a class="nav-item is-tab is-hidden-tablet">Features</a>
                <a class="nav-item is-tab is-hidden-tablet">Pricing</a>
                <a class="nav-item is-tab is-hidden-tablet">About</a>
                <a class="nav-item is-tab">Estevan Junges</a>
                <a class="nav-item is-tab">Sair</a>
            </div>
        </div>
    </nav>

    <section class="section">
        <div class="container">
            <h1 class="title is-1 has-text-centered">Últimas Postagens</h1>

            <hr>

            <div class="box">

                <nav class="level">
                    <div class="level-left">
                        <div class="level-item">
                            <p class="subtitle is-5">
                                <strong>Como parametrizar um gerador?</strong> Geradores
                            </p>
                        </div>
                    </div>
                    <div class="level-right">
                        <p class="level-item">
                            por <a href="#">estevan.junges</a> à 3 horas 
                            7 <span class="icon"><i class="fa fa-thumbs-o-up"></i></span>                            
                            3<span class="icon"><i class="fa fa-thumbs-o-down"></i></span>
                        </p>
                    </div>
                </nav>

            </div>
        </div>

    </section>

</body>

</html>